
* {
    text-decoration: none;
}

* a {
    color: black;
}

.links {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

main #answer {
    margin-left: auto;
}

body {
    background-image: linear-gradient(to right, #626262 0%, rgb(78, 75, 75) 100%);
}

header #appbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    left: 0;
}

#buttons-container {
    margin-bottom: -40px;
    display: flex;
    gap: 15px;
}

#collapse {
    display: flex;
    justify-content: center;
    width: 50%;
}

.like-div {
    display: flex;
    justify-content: center;
}

.like-div p {
    font-size: 14px;
}